body{
	font-family: Montserrat, sans-serif;
}
.bg-1{
	background-color: #2dbfd8;
}
.jumbotron{
	padding: 100px 25px;
}
.jumbotron h2{
	color: white;
	font-weight: 600;
}
.navbar{
	margin-bottom: 0;
	letter-spacing: 5px;
}